https://github.com/matplotlib/basemap/archive/master.zip
geopandas==0.3.0
ipykernel==4.8.2
ipywidgets==7.2.1
matplotlib==2.2.2
nbformat==4.4.0
nbstripout==0.3.1
nltk==3.2.5
numpy==1.14.2
pandas==0.22.0
quandl==3.3.0
scipy==1.0.1
scikit-learn==0.19.1
tables==3.4.3
textblob==0.15.1
wordcloud==1.4.1
